<!-- Nav Bar -->
<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <i class="bi bi-journal-check"></i>
        ToDo List
      </a>
      <button type="button" class="btn btn-primary" (click)="loginPage()" ><i class="bi bi-box-arrow-in-right"></i> Login</button>
    </div>
</nav>

<router-outlet class="m-1"></router-outlet>

<footer class="footer fixed-bottom bg-dark">
    <div class="container-fluid text-center">
      <a  class="text-white" rel="noopener noreferrer" href="https://github.com/srikanthyadav6/DemoApp" target="_blank">
        Project Code @ <i class="bi bi-github"></i>
      </a>
    </div>
</footer>